body {
    background: linear-gradient(116.12deg, #B9F3FC 5.99%, #72CFFF 42.85%, #FCC2FC 93.83%);
    /* filter: blur(22px); */
}

.register input{
    height: 50px;
    width: 300px;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 30px;
    margin-bottom: 18px;
    color: white;
    font-size: 15px;
}
.register input::placeholder{
    color: white;
}
.register input:hover{
    cursor: pointer;
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.register input:focus {
    border: 1px solid #1670BE;
}
.register button{
    height: 50px;
    width: 300px;
    text-align: center;
    background: #FF9DFF;
    border: 0;
    border-radius: 30px;
    margin-bottom: 22px;
    color: white;
    font-size: 15px;
}
.register button:hover{
    cursor: pointer;
    box-shadow: 0 12px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.register .google_button{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background:black;
}
.register .container {
    height: 774px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register .main-container {
    position: absolute;
    width: 70%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.299);
    border-radius: 30px;
}

.register .image-container {
    margin-left: 50px;
    position: relative;
    background-image: url('src/img/landing.png');
    background-size: contain;
    width: 550px;
    height: 100%;
    float: right;
}

.register .detail-container {
    height: 100%;
    /* display: flex;
    justify-content: center; */
    font-family: unset;
    font-weight: initial;
}
.register .form-content{
    text-align: center;
}